
body {
  color: #000;
  font-size: 10px;
  font-family: Roboto, "Times New Roman", serif;
}

h1, h2, h3 {
  font-family: Montserrat, Arial, Helvetica, sans-serif;
  font-weight: 700;
}

h1 {
  font-size: 3.0rem;
}

h2 {
  font-size: 2.2rem;
}

h3 {
  font-size: 1.8rem;
}

p {
  font-size: 1.6rem;
}

section {
  width: 100%;
  height: 100vh;

}

.nav-header {
  background-color: ghostwhite;
  position: fixed;
  top: 0;
  width: 100%;
  box-shadow: 0 3px 6px rgba(0, 0, 0, 0.12), 0 3px 6px rgba(0, 0, 0, 0.23);
  -webkit-box-shadow: 0 3px 6px rgba(0, 0, 0, 0.12), 0 3px 6px rgba(0, 0, 0, 0.23);
  -o-box-shadow: 0 3px 6px rgba(0, 0, 0, 0.12), 0 3px 6px rgba(0, 0, 0, 0.23);
  -moz-box-shadow: 0 3px 6px rgba(0, 0, 0, 0.12), 0 3px 6px rgba(0, 0, 0, 0.23);
  z-index: 999;
}

.nav-content, .function, .team-flex, .ft-content {
  margin: 0 auto;
  max-width: 1140px;
}

.nav-content {
  display: flex;
  max-width: 1200px;
  margin: 0 auto;
  justify-content: space-between;
  align-items: center;
}

.nav-logo {
  padding: 20px;
  z-index: 10;
}

ul.nav-list {
  margin: 0;
}

.nav-list li {
  list-style-type: none;
  display: inline-block;
}

.nav-list a {
  font-size: 1.2rem;
  text-decoration: none;
  color: inherit;
  display: inline-block;
  padding: 40px 20px;
}

.nav-list li:hover {
  color: white;
  background-color: #303030;
}

.bgimg {
  background-image: url("../img/background.jpg");
  min-height: 100vh;
  background-position: center 80%;
  background-size: cover;
  position: relative;
}

/*input-field*/
.input-field {
  width: 100%;
  height: 100vh;
}

.input-button {
  font-size: 30px;
  text-align: center;
  padding: 10px;
  display: block;

  width: 20%;

  position: fixed;
  top: 20%;
}

.modal-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  background-color: ghostwhite;

  z-index: -1;
  opacity: 0;

  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;

  font-size: 20px;
  color: white;
}

.modal-container:target {
  opacity: 1;
  z-index: 99;
}

.modal-field {
  width: 50%;
  padding: 10px;
  justify-content: space-between;
}

.function > div {
  width: 100%;
  margin: 0 auto;
  padding: 20px 0;

}

.function-flex {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}

.function-flex1 {
  flex: 1;

  width: 100%;
  margin: 0 auto;
  padding: 20px 0;
}

.function-flex2 {
  flex: 1;

  width: 100%;
  margin: 0 auto;
  padding: 20px 0;
}

.function-flex3 {
  flex: 1;

  width: 100%;
  margin: 0 auto;
  padding: 20px 0;
}

.function-flex4 {
  flex: 1;

  width: 100%;
  margin: 0 auto;
  padding: 20px 0;
}

.function img {
  height: 100px;
  width: 100px;
  margin-left: 60px;
}

.function h2 {
  font-size: 40px;
  font-weight: 100;
  text-transform: lowercase;
  text-align: center;
  margin-bottom: 20px;
  text-shadow: 1px 1px 0 #ccc;

}

.function p {
  line-height: 24px;
  font-size: 16px;
  text-align: justify;
  padding: 20px 20px;

}

.team {


  background-color: ghostwhite;


}


.team h1{

  text-align: center;


}

.team h3{


  text-align: center;
  font-size: 15px;

}


  .one {

    width: 49%;
    float: left;
    text-align: center;
    margin-bottom: 20px;


  }

  .one img {

    width: 150px;
    height: 150px;
    border-radius: 100%;


  }

  .two {

    width: 49%;
    float: left;
    text-align: center;
    margin-bottom: 20px;

  }

  .two img {

    width: 150px;
    height: 150px;
    border-radius: 100%;

  }

  .three {

    width: 49%;
    float: left;


    text-align: center;


  }

  .three img {

    width: 150px;
    height: 150px;
    border-radius: 100%;

  }

  .four {
    width: 49%;
    float: left;

    text-align: center;


  }

  .four img {

    width: 150px;
    height: 150px;
    border-radius: 100%;


  }

  .clear {
    clear: both;

  }

.social img{

  width: 40px;
  height: 40px;
  padding: 10px;
  opacity: 0.6;
  filter: alpha(opacity=50);
  margin-bottom: 20px;
  

}



.www:hover{

  opacity: 1.0;
  filter: alpha(opacity=100);
  box-shadow: 0 0 20px #ccc;

}

.fb:hover{

  opacity: 1.0;
  filter: alpha(opacity=100);
  box-shadow: 0 0 20px #ccc;

}


.git:hover {
  opacity: 1.0;
  filter: alpha(opacity=100);
  box-shadow: 0 0 20px #ccc;



}

.ln:hover{
  opacity: 1.0;
  filter: alpha(opacity=100);
  box-shadow: 0 0 20px #ccc;



}




  .go-up {
    height: 50px;
    width: 50px;
    background-color: ghostwhite;
    border-radius: 50%;
    position: fixed;
    bottom: 60px;
    right: 60px;
    text-align: center;
    z-index: 150;
  }

  //footer

  .go-up {
    height: 50px;
    width: 50px;
    background-color: ghostwhite;
    border-radius: 50%;
    position: fixed;
    bottom: 60px;
    right: 60px;
    text-align: center;
    z-index: 150;
  }

  .footer {
    background-color: black;
    color: white;
    width: 100%;
    height: 100px;
  }

  .ft-content {
    max-width: 1200px;
    margin: 0 auto;
    padding: 20px;
  }

/*# sourceMappingURL=style.css.map */





