body{

    color: #fff;
    font-size: 10px;


}











header{





}


.bgimg {


    background-image: url("../img/background.jpg");
    min-height: 100vh;
    background-position: center 80%;
    background-size: cover;
    position: relative;
    border-radius: 2px;

}



.input-button{


    font-size: 30px;
    text-align: center;
    display:block;
    width: 300px;
    margin-right: auto;
    margin-left: auto;

}

@-webkit-keyframes hvr-pulse-grow {
    to {
        -webkit-transform: scale(1.1);
        transform: scale(1.1);
    }
}
@keyframes hvr-pulse-grow {
    to {
        -webkit-transform: scale(1.1);
        transform: scale(1.1);
    }
}
.hvr-pulse-grow {

    -webkit-transform: perspective(1px) translateZ(0);
    transform: perspective(1px) translateZ(0);
    box-shadow: 0 0 1px transparent;
    margin-top: 550px;
    font-family: 'Teko', sans-serif;


}
.hvr-pulse-grow:hover, .hvr-pulse-grow:focus, .hvr-pulse-grow:active {
    -webkit-animation-name: hvr-pulse-grow;
    animation-name: hvr-pulse-grow;
    -webkit-animation-duration: 0.3s;
    animation-duration: 0.3s;
    -webkit-animation-timing-function: linear;
    animation-timing-function: linear;
    -webkit-animation-iteration-count: infinite;
    animation-iteration-count: infinite;
    -webkit-animation-direction: alternate;
    animation-direction: alternate;
}


.team{


    background-color: #f3f3f3;
    width: 100%;
    height: 100vh;

}