.function > div {
    width: 100%;
    margin: 0 auto;
    padding: 20px 0;

}
.function-flex {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

.function-flex1 {
    flex: 1;

    width: 100%;
    margin: 0 auto;
    padding: 20px 0;
}
.function-flex2 {
    flex: 1;

    width: 100%;
    margin: 0 auto;
    padding: 20px 0;
}
.function-flex3 {
    flex: 1;

    width: 100%;
    margin: 0 auto;
    padding: 20px 0;
}
.function-flex4 {
    flex: 1;

    width: 100%;
    margin: 0 auto;
    padding: 20px 0;
}

.function img {
    height: 100px;
    width: 100px;
    margin-left: 60px;
}


.function h2 {
    font-size: 40px;
    font-weight: 100;
    text-transform: lowercase;
    text-align: center;
    margin-bottom: 20px;
    text-shadow: 1px 1px 0 #ccc;
    font-family: Roboto, sans-serif;
}

.function p {
    line-height: 24px;
    font-size: 16px;
    text-align: justify;
    padding: 20px 20px;

}

